header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 50px 0 30px 0;

  background-color: #fff;
  .logo {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    color: #e31f24;
  }

  .site-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: #333;
  }
}
