.search-bar {
  min-width: 321px;

  padding: 20px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(146, 146, 146);
    border-radius: 26px;
  }

  .search-bar-input {
    display: flex;
    align-items: center;
    gap: 16px;

    width: 240px;

    padding: 16px 24px;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: #76787d;

    border-radius: 8px;
    border: 1.5px solid #e9ecef;
    background: #fff;
  }

  .search-bar-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }

  .result-user {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;

    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    cursor: pointer;

    .result-image {
      width: 70px;
      height: 70px;

      border-right: 1px solid #e0e0e0;
    }

    .selected {
      background: #e0e0e0;
    }

    .result-info {
      width: 100%;
      height: inherit;

      padding-left: 10px;

      text-align: left;

      font-size: 14px;
      font-style: normal;
      font-weight: 600;

      border-radius: 0 10px 10px 0;

      .result-email {
        color: #76787d;
        font-weight: 400;
      }
    }
  }

  .search-info {
    margin-top: 10px;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: #76787d;
  }
}
